@using GCCSI_CO2RE.Models
@model GCCSI_CO2RE.Models.RD_FacilityCaptureType

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div>
        <fieldset>
            @if (ViewBag.IsUpdate == true)

            {

                @Html.HiddenFor(model => model.FacilityCaptureTypeID)

            }

            <table id="editableGrid" class="table table-striped table-bordered dt-responsive wrap" cellspacing="0" style="table-layout:fixed; font-size:12px; margin-top:1.5rem">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FacilityCaptureTypeName)
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.FacilityCaptureTypeName)
                    </td>
                </tr>
            </table>

            <p style="margin-top:1.5rem">

                <input type="button" value="Close" id="btncancelView" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />

            </p>

        </fieldset>
    </div>
}