@if (Request.IsAuthenticated)
{
    <input type="button" id="loginLink" class="btn-headerBlue" style="width:inherit"
           value="Logoff" onclick="location.href='@Url.Action("SignOut", "Account", routeValues:null )'" />
    <br />
        <p class="btn-headerBlue">
            Hello, @User.Identity.Name!
        </p>
}
else
{
    <input type="button" id="loginLink" class="btn-headerBlue" style="width:inherit"
           value="Login" onclick="location.href='@Url.Action("SignIn", "Account", routeValues:null )'" />
}

